*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary_color: #245D51;
    --secondary_color: #CB8461;
    --text_color: #fff;
    --heading_color: #2C2C2C;
    --paragraph_color: #808080;

    --background_color: #ede4e4;
    --chatNavBg_color: #d1d7db;
}
body {
    overflow-x: hidden;
    background-color: var(--background_color);
    position: fixed;
}
.container {
    width: 100vw;
}
.container .row {
    display: flex;
    width: 100%;
    align-items: flex-start;
}
.col-5:first-child {
    width: 40%;
}
.col-5:last-child {
    width: 60%;
}
.col-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chat-screen .chat-nav {
    display: flex;
    align-items: center;
    background-color: var(--chatNavBg_color);
    padding: 10px;
    justify-content: space-between;
}
.profile-cover {
    display: flex;
    align-items: center;
}
.profile-cover .img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    padding: 2px;
    background-color: var(--primary_color);
}
.profile-cover .img img {
    width: 100%;
    height: 100%;
}
.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.profile-info h1 {
    font-size: 20px;
}
.profile-info small {
    font-size: 12px;
}

.chat-nav-action {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.chat-nav-action .action-button {
    font-size: 25px;
    margin: 0px 8px;
    cursor: pointer;
}
.chat-nav-action .action-button:hover {
    color: palegoldenrod;
}

.chat-writter {
    position: fixed;
    bottom: 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 60%;
    background-color: var(--chatNavBg_color);
    z-index: 100;
}
.chat-writter .button {
    font-size: 25px;
    margin-right: 10px;
}
.chat-writter .button:hover {
    color: #245D51;
    cursor: pointer;
}
.chat-writter .button:active {
    color: #2C2C2C;
}
.chat-writter .chat-text-typer {
    /* overflow-x: hidden; */
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    width: 85%;
    position: relative;
    min-height: 30px;
    z-index: 1;
    justify-content: center;
}
.chat-media-button {
    display: flex;
    align-items: center;
}


.message-text {
    position: absolute;
    width: 99%;
    max-height: 500px;
    overflow-y: auto;
    margin: auto auto;
    z-index: 100;
    bottom: 3px;
    background-color: #fff;

    border-radius: 5px;
    font-size: 18px;
    padding: 5px 10px;
}
.message-text[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555; 
}




.chat-container {
    height: calc(100vh - 120px);
    overflow-y: auto;
}
.chat-message-cover {
    padding: 10px 0px;
}
.chat-message-cover .chat-row {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 5px 0px;
    z-index: -100;
}

.chat-row .chat-meta {
    display: flex;
    align-items: flex-start;
}
.chat-sent .chat-meta {
    justify-content: flex-end;
}
.chat-meta .profile {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    padding: 1px;
    background-color: #245D51;
    overflow: hidden;
    margin-right: 5px;
}
.chat-sent .chat-meta .profile {
    margin: 0px 5px;
}
.profile img {
    width: 100%;
    height: 100%;
}
.chat-row .message-meta {
    max-width: 70%;
    margin-left: 20px;
    background-color: #c3d7d8;
    border-radius: 10px;
    padding: 5px 10px;
    z-index: 100;
}
.chat-sent .message-meta {
    margin-left: 0px;
    margin-right: 20px;
}
.message-meta .sender-contact {
    font-size: 12px;
    color: #245D51;
    display: flex;
    align-items: center;
}
.message-meta .sender-contact:last-child {
    justify-content: flex-end;
    padding-top: 3px;
}

.chat-sent .message-meta .sender-contact {
    justify-content: flex-end;
}
.message-meta .sender-contact i{ 
    z-index: 5;
}
/* .chat-recieved .message-meta .sender-contact i:first-child::before {
    width: 0px;
    height: 0px;
    content: '';
    border-top: 15px solid transparent;
	border-right: 25px solid;
    border-bottom: 15px solid transparent;
    position: absolute;
    z-index: -1;
    margin-top: -5.5px;
    margin-left: -29px;
    color: #c3d7d8;
}
.chat-sent .message-meta .sender-contact i:last-child::after {
    width: 0px;
    height: 0px;
    content: '';
    border-top: 15px solid transparent;
	border-left: 25px solid;
    border-bottom: 15px solid transparent;
    position: absolute;
    z-index: -1;
    margin-top: -5.5px;
    margin-right: -29px;
    color: #c3d7d8;
} */
.message-meta .sender-contact i:first-child {
    margin-right: 5px;
    color: #CB8461;
}
.message-meta p.msg-text {
    text-align: left;
    font-size: 15px;
    word-spacing: 1px;
    /* border-top: 1px solid #2C2C2C; */
    /* border-bottom: 1px solid #2C2C2C; */
    padding: 5px;
}



.chat-cont-cover {
    border-right: 1px solid #555;
    height: calc(100vh  - 70px);
    margin-right: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}
.chat-cont-cover .contact-row {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color:aliceblue;
    border-bottom: 1px solid #ede4e4;
    cursor: pointer;
}
.chat-cont-cover .contact-row:hover {
    background-color: #c3d7d8;
}
.chat-cont-cover .contact-row:active {
    border: none;
    background-color: #d1d7db;
}
.chat-cont-cover .contact-row .cont-profile {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #245D51;
    padding: 1px;
    /* margin: 5px 10px; */
}
.chat-cont-cover .contact-row .cont-profile img {
    width: 100%;
    height: 100%;
}

.contact-row .contact-meta {
    margin-left: 10px;
    width: 80%;
}
.contact-row .contact-meta h1 {
    font-size: 18px;
    margin-bottom: 5px;
}
.contact-row .contact-meta .msg {
    display: flex;
    justify-content: space-between
}
.contact-row .contact-meta .msg i {
    color: blue;
}
